<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Productos</h1>
    
    {% if products %}
        <table>
            <thead>
                <tr>
                    <th>nombre producto</th>
                    <th>descripcion</th>
                    <th>precio</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>${{ product.price }}</td>
                      
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>no hay productos disponibles</p>
    {% endif %}
</body>
</html>